<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Demo Flask App</h1>
    <form action="/" method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" id="title"><br>
        <label for="content">Your Message</label>
        <input type="text" name="content" id="content"><br>
        <button type="submit">Submit</button>
    </form>
    {% if e %}
    <p>Please Change your Title, Title already exists.</p>
    {% endif %}

</body>
</html>